body
{
    font-family: cursive;
    background: rgb(122, 148, 110);
}

.header_div
{
    background: rgb(97, 95, 95);
    color: rgb(14, 13, 13);
}

.header_div p{

    font-family: sans-serif;
    color: rgb(8, 8, 8);
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button
{
    font-family: 'Roboto' , sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;

}


.copy_right_footer
{
    position: fixed;
    color: gray;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: rgb(184, 230, 190);
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(5, 5, 5);
}